@model Trabalho_de_Conclusão_de_Curso_2.Entities.Game1.Image

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyPart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyPart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Humor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Humor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hierarchy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hierarchy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
